* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  width: 500px;
  height: 500px;
}

.element1 {
  width: 26%;
  height: 10%;
  background-color: #e5eeeb;
  float: left;
  border-right: 7px solid black;
  border-bottom: 7px solid black;
}

.element2 {
  width: 37%;
  height: 10%;
  background-color: #f2e7d5;
  float: left;
  border-right: 7px solid black;
  border-bottom: 7px solid black;
}

.element3 {
  width: 31%;
  height: 10%;
  background-color: #f2c968;
  float: left;
  border-bottom: 7px solid black;
}

.element4 {
  width: 6%;
  height: 100%;
  float: right;
  border-left: 7px solid black;
}

.child_4_1 {
  width: 100%;
  height: 80%;
  background-color: #fcfde7;
  float: right;
  border-bottom: 7px solid black;
}

.child_4_2 {
  width: 100%;
  height: 20%;
  background-color: #d73630;
  float: right;
}

.element5 {
  width: 11%;
  height: 90%;
  float: left;
  border-right: 7px solid black;
}

.child_5_1 {
  width: 100%;
  height: 30%;
  background-color: #fbfde7;
  float: left;
  border-bottom: 7px solid black;
}

.child_5_2 {
  width: 100%;
  height: 45%;
  background-color: #e1eae5;
  float: left;
  border-bottom: 7px solid black;
}

.child_5_3 {
  width: 100%;
  height: 25%;
  background-color: #f4c65a;
  float: left;
}

.element6 {
  width: 83%;
  height: 50%;
  float: left;
  border-bottom: 7px solid black;
}

.child_6_1 {
  width: 62.5%;
  height: 100%;
  background-color: #d62d24;
  float: left;
  border-right: 7px solid black;
}

.child_6_2 {
  width: 37.5%;
  height: 50%;
  background-color: #edcc6b;
  float: right;
  border-bottom: 7px solid black;
}

.child_6_3 {
  width: 18.75%;
  height: 50%;
  background-color: #f2eee2;
  float: right;
}

.child_6_4 {
  width: 18.75%;
  height: 50%;
  background-color: #dfe5d0;
  float: right;
  border-right: 7px solid black;
}

.element7 {
  width: 27%;
  height: 40%;
  background-color: black;
  float: left;
  border-right: 7px solid black;
}

.child_7_1 {
  width: 100%;
  height: 80%;
  background-color: #130409;
  float: left;
  border-bottom: 7px solid black;
}

.child_7_2 {
  width: 100%;
  height: 20%;
  background-color: #e3ded9;
  float: left;
}

.element8 {
  width: 56%;
  height: 20%;
  float: left;
  border-bottom: 7px solid black;
}

.child_8_1 {
  width: 45%;
  height: 100%;
  background-color: #c0bfba;
  float: left;
  border-right: 7px solid black;
}

.child_8_2 {
  width: 55%;
  height: 100%;
  background-color: #d6dee0;
  float: right;
}

.element9 {
  width: 56%;
  height: 15%;
  float: left;
  border-bottom: 7px solid black;
}

.child_9_1 {
  width: 42.5%;
  height: 60%;
  background-color: #dee2d4;
  float: left;
}

.child_9_2 {
 width: 57.5%;
  height: 100%;
  background-color: #241785;
  float: right;
  border-left: 7px solid black;
}

.child_9_3 {
  width: 42.5%;
  height: 41%;
  background-color: #130409;
  float: left;
  border-top: 7px solid black;
}

.element10 {
  width: 56%;
  height: 5%;
  background-color: #e0e0df;
  float: left;
}