/* colors for web site 
    #e0e2db - light white
    #e6af2e - yellow 
    #191716 - black
*/

@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e0e2db;
}

.navbar {
    width: 100%;
    height: 40px;
    background-color: #e6af2e;
    text-align: center;
}

.navbar_p {
    background-color: #e6af2e;
    text-transform: uppercase;
    font-family: 'Ga Maamli', sans-serif;
    font-size: 30px;
    color: #191716;
}

.main_h1 {
    text-align: center;
    margin-top: 25px;
    color: #191716;
    margin-bottom: 40px;
    font-family: 'Anton',sans-serif;
}

a {
    text-decoration: none;
}

span {
    background-color: #e6af2e;
    margin-top: 30px;
    font-size: 25px;
    color: #191716;
    font-family: 'Anton',sans-serif;
}

.homework_div {
    width: 50%;
    height: 270px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #e6af2e; 
    border: solid 5px #191716;
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.homework_div:hover {
    background-color: #e1c37d;
}

.homework_div span {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.homework_div:hover span {
    color: #191716;
    background-color: #e1c37d;
}

.homework_p {
    background-color: #e6af2e;
    margin-top: 30px;
    font-size: 25px;
    color: #191716;
    font-family: 'Anton',sans-serif;
}

.homework_img {
    width: 300px;
    margin: 20px;
}

