.about-section {
    margin-top: 120px; /* Adjust this value as needed for the desired gap */
    background: linear-gradient(135deg, var(--color-1), var(--color-2), var(--color-3));
    color: var(--color-3);
    padding: 50px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
    padding-bottom: 50px;
}

.about-section h1 {
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-3);
    margin-top: 20px;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: var(--color-3);
    margin-top: 20px;
}

.map-container {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
