html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #4A8BDF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    background-color: #4A8BDF;
    margin-top: 3%;
    width: 80%;
    border-radius: 15px;
    padding: 7% 7%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
    border: 3px solid #e2f7fc;
    padding: 5% 0;
    width: 60%;
    border-radius: 20px;
    color: #e2f7fc;
    font-size: 20px;
    transition: background-color 0.5s ease;
}

#btn:hover {
    background-color: #1f3757;
    color: #e2f7fc;
}

.modal {
    color: #4A8BDF;
}

.modal-content {
    background-color: #e2f7fc;
}

.modal-header,
.modal-footer {
    border-color: #4A8BDF;
}

#close,
#submit {
    color: #e2f7fc;
    transition: background-color 0.3s ease;
}

#close {
    background-color: #42454a;
}

#close:hover {
    background-color: #292b2e;
}

#submit {
    background-color: #4A8BDF;
}

#submit:hover {
    background-color: #346aaf;
}

footer .col-md-3,
footer .col-md-6 {
    margin-bottom: 30px;
}

@media (min-width: 768px) {

    footer .col-md-3,
    footer .col-md-6 {
        margin-bottom: 50px;
    }
}

ul li:hover {
    background-color: #4A8BDF;
    color: #e2f7fc;
    transition: 0.3s background-color ease;
}

footer i {
    transition: 0.3s color ease, 0.3s transform ease;
}

footer i:hover {
    color: #7fd8ee;
    transform: scale(1.2);
}

footer a:hover {
    color: #7fd8ee;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1;
}

.footer {
    margin-top: auto;
}