:root {
  --color-1: #CEE6F2;       /* Soft Lavender / Lilac */
  --color-2: #E3867D;     /* Lively Coral Pink */
  --color-3: #962E2A;        /* Vibrant Mint / Aqua */

  --hover-1: #a7ccdf;       /* Slightly darker Soft Lavender for hover */
  --hover-2: #cc6f68;     /* Slightly darker Coral Pink for hover */
  --hover-3: #7c2320;        /* Deeper shade of the Accent color for hover */
}