@using WebApplication3.Models.ViewModals
@model CreateStudentVM

<div class="container">
    <h2>Create Student (TAG Helper)</h2>
    <form asp-controller="Student" asp-action="Create" method="post">
        <div>
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div>
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div>
            <label asp-for="DateOfBirth" class="form-label">Date of Birth</label>
            <input asp-for="DateOfBirth" type="date" class="form-control" />
        </div>

        <div>
            <label>Active Course</label>
            <select asp-for="ActiveCourseId" class="form-control"
                    asp-items="@(new SelectList(Model.Courses, "Id", "Name"))">
                <option value="">Select Course</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Add Student</button>
            <a asp-action="GetAllStudents" class="btn btn-secondary">Go Back</a>
        </div>
    </form>
</div>