*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: wheat;
}

.container {
	margin-left: 300px;
	width: 500px;
	padding: 25px;
	text-align: center;
	border-radius: 10px;
	background-color: black;
}

.header {
	margin: 20px;
	color: wheat;
}

input {
	width: 350px;
	padding-left: 15px;
	padding-top: 15px;
	font-size: 45px;
	border-radius: 10px;
	text-align: right;
	background-color: wheat;
	color: black;
}

.buttons {
	margin: auto;
	width: 450px;
	display: flex;
	flex-direction: column;
}

.rows {
	display: flex;
	flex-direction: row;
}

button {
	width: 100px;
	height: 110px;
	padding: 40px;
	font-size: 20px;
	margin: 10px;
	text-align: center;
	border-radius: 10px;
	font-weight: 1000;
	box-shadow: 2px 2px 2px wheat;
	background-color: black;
	color: wheat;
	cursor: pointer;
}