* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

nav {
    background-color: #00000066;
    width: 100vw;
    height: 5vh;
    position: fixed;
    left: 0;
    top: 0;
}

main {
    position: relative;
    top: 5vh;
    left: 0;
}

.position_static {
    /* this os tje default document flow */
    position: static;
}

.position_absolute {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00aa33;
    width: 300px;
}

.psotion_sticky {
    position: sticky;
    top: 5vh;
    background-color: #ffee00aa;
}

.back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: solid 1px black;
    border-radius: 3px;
    background-color: yellow;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    color: #000000ee;
}

.back_to_top:hover {
    background-color: yellowgreen;
    transition: ease;
}