@using RentalOnlineStore.Domain.DomainModals
@model IEnumerable<Rental>

<h2>My Rentals</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">You currently have no rentals.</div>
}
else
{
    <div class="list-group">
        @foreach (var rental in Model)
        {
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    @* <h5 class="mb-1">@rental.Movie.Title</h5> *@
                    <small>Rented on @rental.RentedOn.ToString("MM/dd/yyyy")</small>
                </div>
                <form asp-action="ReturnMovie" asp-route-id="@rental.Id" method="post" class="mt-2">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Return Movie</button>
                </form>
            </div>
        }
    </div>
}