@using Class04.Models.ViewModels
@model CreateCourseVM

<h2>Student by id</h2>

<div>
    <dl class="row">
        <dt>
            Name of course
        </dt>
        <dd>
            @Model.CourseName
        </dd>
        <dt>
            Number of classes
        </dt>
        <dd>
            @Model.NumberOfClasses
        </dd>
    </dl>
</div>