.body {
    margin-top: 10%;
    width: 100%;
    margin-bottom: 1000px;
    background-color: pink;
    display: flex;
    flex-direction: row;
}

.left {
    background-color: #212529;
    color: #7fd8ee;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
}

.left>button {
    width: 60%;
    background-color: #7fd8ee;
    color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}

.left>button:hover {
    background-color: #4A8BDF;
    color: #f0f0f0;
    transform: scale(1.1);
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.right {
    background-color: #4A8BDF;
    width: 70%;
    flex-grow: 1;
}

.pagination {
    position: fixed;
    bottom: 20px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 10px 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-img-top {
    max-height: 200px;
    object-fit: contain;
}
.pagination {
    display: flex;
    justify-content: center;
}