* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid_parent {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto 1fr;
}

.grid_item_header {
    grid-area: header;
    background-color: yellow;
    height: 50px;
}

.grid_item_main {
    grid-area: main;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}

.grid_item_main > div {
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: blanchedalmond;
}

.grid_item_aside {
    grid-area: aside;
    background-color: azure;
}

.grid_item_aside > div {
    width: 150px;
    height: 100px;
    margin: 10px;
    background-color: aquamarine;
}


.grid_item_footer {
    grid-area: footer;
    background-color: brown;
    height: 50px;
}