* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(55deg, #614385, #516395);
}

.container {
    background-color: wheat;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    height: 100%;
    background: linear-gradient(55deg, #2E3192, #1BFFFF);
    box-shadow: 10px 20px 20px #2E3192;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-size: 3em;
    background: linear-gradient(#2c0e50, #243972);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.left {
    width: 65%;
    padding: 20px;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid #1BFFFF;
}

.left:hover,
.left:focus,
.left:active,
.left:checked {
    width: 65%;
    padding: 20px;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid #1BFFFF;
}
.right {
    width: 15%;
    margin-left: 20px;
    border: 2px solid #1BFFFF;
    background: linear-gradient(#9c79c7, #243972);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
}